NEXTJS_ENV="development"
__DEV__="true"
DEBUG="true"

RPC_URLS="https://nano-node.example.workers.dev,https://nodes.example.com/XNO"
WORKER_URLS="https://pow.example.workers.dev,https://pow-backup.example.com"
PRIVATE_KEY="<wallet-private-key>"
REPRESENTATIVE="nano_1111111111111111111111111111111111111111111111111111hifc8npp"
ADMIN_TOKEN="<admin-token>"
HCAPTCHA_SECRET="<hcaptcha-secret>"
# ALLOW_ORIGIN="http://localhost:3000"
