<!-- About -->
<div id="about">
    <div class="jumbotron m-scene">
        <div class="m-header scene_element scene_element--fadein">
            <center>
                <h2><span class="glyphicon glyphicon-info-sign"></span> About</h2>


            </center>
            <div class="container">
                <blockquote style="text-align: center;">
                    <p style="font-size: 16px;">
                        NanoDrop is a new Nano Faucet to get you started
                        with Nano.
                        <br>
                        Nano is an instant, scalable, zero-fee cryptocurrency!
                        <br><br>
                        This faucet sends you a
                        fraction of Nano for free, instantly, paying zero fee.
                        <br><br>
                        You can receive in some Nano wallets like <a href="https://nault.cc/" target="_blank">Nault</a>
                        and <a href="https://natrium.io/" target="_blank">Natrium</a>
                    </p>
                </blockquote>
            </div>
        </div>
    </div>
</div>