<!-- Dev Area -->
<div id="dev">
    <div class="jumbotron">
        <center>
            <h2>Dev API <i class="glyphicon glyphicon-console"></i></h2>
            <br>
            <p>You can also integrate this faucet into your website or app, via iframe.
                You can also use our API.</p>
            <br>
            <div class="container">
                <table class="table table-bordered" id="apiTable">
                    <thead>
                        <tr>
                            <th>Endpoint</th>
                            <th>Info</th>
                            <th>Method</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="endpoint"> /api/faucet</td>
                            <td class="account">Returns only the code of the faucet page (html, css, js), useful for faucet
                                implementations on other sites via Iframe</td>
                            <td class="method">GET</td>
                        </tr>
                        <tr>
                            <td class="endpoint">/api/info</td>
                            <td class="account">Faucet information: account, amount, balance, received, sent,
                                pending, drops, representative</td>
                            <td class="method">GET</td>
                            </td>
                        </tr>
                        <tr>
                            <td class="endpoint">/api/history</td>
                            <td class="account">Returns all transactions sent and received by the faucet,
                                includes timestamp and subtype</td>
                            <td class="method">GET</td>
                            </td>
                        </tr>
                        <tr>
                            <td class="endpoint">/api/qrcode</td>
                            <td class="account">QRcode of the faucet account. Useful for donations</td>
                            <td class="method">GET</td>
                            </td>
                        </tr>
                        <tr>
                            <td class="endpoint">/api/node</td>
                            <td class="account">Status information for the Nano node used by the faucet
                                (telemetry)</td>
                            <td class="method">GET</td>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </center>
    </div>
</div>