<div id="donate">
    <div class="jumbotron">
        <center>
            <div class="container">
                <img src="/assets/donate.png" width="100px" style="opacity: .6;">
                <br><br>
                <p style="font-size: 16px">
                    NanoDrop is a free, voluntary and open source initiative.
                    <br>
                    We don't use ads, we don't sell personal data.
                    <br>
                    Our focus is to bring Nano to the masses.
                </p>
                <p style="font-size: 18px">
                    If you like it consider making a small donation, helping to distribute
                    Nano to other users. </p>
                <a href="https://nanodevlist.com/anarkrypto/#anarkrypto">
                    <button type="button" class="btn btn-info btn-lg"><span
                        class="glyphicon glyphicon-gift"></span> Donate ⋰·⋰</button>
                    </a>
                <br><br>
            </div>
        </center>
    </div>
</div>