
<!-- footer -->
<div class="footer-basic">
    <footer>
        <div class="social">
            <a href="https://discord.gg/VFT6J75ejB"><i class="fab fa-discord"></i></a>
            <a href="https://www.reddit.com/user/anarkrypto" target="_blank"><i class="fab fa-reddit"></i></a>
            <a href="https://github.com/anarkrypto/nanodrop" target="_blank"><i class="fab fa-github"></i></a>
        </div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#about">About</a></li>
            <li class="list-inline-item"><a href="mailto:contact@nanodrop.io">Contact</a></li>
            <li class="list-inline-item"><a href="/legal">Terms</a></li>
            <li class="list-inline-item"><a href="/privacy">Privacy Policy</a></li>
        </ul>
        <p class="stamp">NanoDrop.io ⋰·⋰ 2021
            <br>
            Powered by <a href="https://nanodevlist.com/anarkrypto/">Anarkrypto</a>
        </p>
    </footer>

        <!-- partial -->
</div>