<!-- NAVBAR -->
<nav class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container-fluid">
            <div class="navbar-header navbar-inverse">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target=".navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="/assets/logo.png" class="logo-nav"></a>
            </div>
            <div class="navbar-collapse collapse" style="height: auto;">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <input type="checkbox" id="themeSwitch" style="display: none;">
                        <div class="theme-switch">
                            <div class="switch-body">
                                <label for="themeSwitch" id="themeSwitch-label">
                                    <div class="toggle"></div>
                                    <div class="names">
                                        <p class="light">Light</p>
                                        <p class="dark">Dark</p>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </li>
                    <li><a href="#faucet"><span class="glyphicon"></span> ⋰·⋰ Free Nano</a></li>
                    <li><a href="#about"><span class="glyphicon glyphicon-info-sign"></span> About</a></li>
                    <li><a href="#paytable"><span class="glyphicon glyphicon-th-list"></span> Pay Table</a></li>
                    <li><a href="#dev">Dev <span class="glyphicon glyphicon-console"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>