        <!-- Pay Table -->
        <div id="paytable" class="paytable">
            <div class="jumbotron">
                <center>
                    <h2>Our Pay Table</h2>
                    <br>
                    <div class="container">
                        <div class="overflow-table">
                            <table class="table table-bordered" id="payTable">
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Amount</th>
                                        <th>Account</th>
                                        <th>Block</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </center>
            </div>
        </div>