body {
	margin: 0;
}

.nd-anchor {
	border-radius: 3px;
	box-shadow: 0 0 4px 1px rgb(0 0 0 / 8%);
	-webkit-box-shadow: 0 0 4px 1px rgb(0 0 0 / 8%);
	-moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
	max-width: 100%;
	max-height: 100%;
	min-width: 223px;
	min-height: 62px;
	transition: background-color 0.7s ease;
}

.nd-anchor-compact {
	width: 223px;
	height: 62px;
}

.nd-anchor-normal {
	width: 298px;
	height: 73px;
}

.nd-anchor-large {
	width: 373px;
	height: 94px;
}

.nd-inline-block {
	display: inline-block;
	height: 100%;
}

.nd-anchor-flex {
	display: flex;
}

.nd-anchor-flex .nd-anchor-content {
	display: flex;
	justify-content: space-around;
}

.nd-anchor-center-container {
	display: table;
	height: 100%;
}

.recaptcha-checkbox-focused .recaptcha-checkbox-border {
	border: 2px solid #209CE9;
}

.recaptcha-checkbox-active .recaptcha-checkbox-border {
	background-color: #ebebeb;
}

.recaptcha-checkbox-disabled .recaptcha-checkbox-border {
	background-color: #f1f1f1;
}

.recaptcha-checkbox-expired .recaptcha-checkbox-border {
	border: 2px solid #ff0000;
}

.recaptcha-checkbox-clearOutline.recaptcha-checkbox-focused .recaptcha-checkbox-border {
	border: 2px solid #c1c1c1;
}

.rc-anchor {
	border-radius: 3px;
	box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
	-webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
}

.recaptcha-checkbox-hover .recaptcha-checkbox-border {
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1);
	border: 2px solid #b2b2b2;
}

.nd-anchor-footer {
	display: inline-block;
	height: 100%;
	vertical-align: top;
	width: 58px;
	cursor: default;
}

.nd-anchor-flex .nd-anchor-footer {
	display: flex;
	justify-content: center;
	text-align: center;
}

.nd-anchor-logo-portrait {
	margin: 10px auto 0;
	width: 60px;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.nd-anchor-logo-img {
	background: url('/icons/favicon-32x32.png');
	background-repeat: no-repeat;
}

.nd-anchor-logo-img-portrait {
	background-size: 32px;
	height: 32px;
	width: 32px;
	margin: 0 13px 0 13px;
}

.nd-anchor-light .nd-anchor-logo-text,
.nd-anchor-light .nd-anchor-logo-text-refresh,
.nd-anchor-light .nd-anchor-logo-text-refreshing,
.nd-anchor-light div a:link,
.nd-anchor-light div a:visited {
	color: #777;
}

.nd-anchor-logo-text,
.nd-anchor-light .nd-anchor-logo-text-refresh,
.nd-anchor-light .nd-anchor-logo-text-refreshing {
	cursor: default;
	font-family: Roboto, helvetica, arial, sans-serif;
	font-size: 10px;
	font-weight: 400;
	line-height: 10px;
	margin-top: 5px;
	text-align: center;
}

.blue-stroke {
	stroke: #209CE9;
}

.recaptcha-checkbox-checkmark {
	transform: scale(0.6);
	stroke-width: 8;
	stroke-linecap: round;
	width: 52px;
	height: 40px;
	display: none;
}

.recaptcha-checkbox-checkmark.animate {
	display: block;
}

.recaptcha-checkbox-checkmark.animate path {
	animation: 0.7s draw-check ease-out;
}

.checkbox-alert {
	stroke-width: 6;
	stroke-linecap: round;
	position: absolute;
	top: 40px;
	left: 68px;
	width: 15px;
	height: 70px;
	animation: 0.7s checkbox-alert-bounce cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.red-stroke {
	stroke: #d9534f;
}

.checkbox-alert .dot {
	stroke: none;
	fill: #ffc107;
}

.yellow-stroke {
	stroke: #ffc107;
}

.checkbox-error {
	transform: scale(0.55);
	stroke-width: 6.25;
	stroke-linecap: round;
	width: 40px;
	height: 40px;
	display: none;
}

.checkbox-error.animate {
	display: block;
}

.checkbox-error .first-line {
	animation: 0.7s draw-first-line ease-out;
}

.checkbox-error .second-line {
	animation: 0.7s draw-second-line ease-out;
}

.nd-anchor-explorer-text {
	font-size: 12px;
	line-height: 14px;
}

.block-explorer-link {
	text-decoration: none;
}

.block-explorer-link:hover .nd-anchor-explorer-text {
	color: #337ab7;
}

/* Dark mode */

.nd-anchor-dark {
	border: 1px solid #444;
	background-color: #34323d;
	box-shadow: 0 2px 15px rgb(0 0 0 / 15%);
}

.nd-anchor-dark .nd-anchor-logo-text,
.nd-anchor-dark .nd-anchor-logo-text-refresh,
.nd-anchor-dark .nd-anchor-logo-text-refreshing,
.nd-anchor-dark div a:link,
.nd-anchor-dark div a:visited {
	color: #aaa;
}

@keyframes draw-first-line {
	0% {
		stroke-dasharray: 0, 56;
		stroke-dashoffset: 0;
	}

	50% {
		stroke-dasharray: 0, 56;
		stroke-dashoffset: 0;
	}

	100% {
		stroke-dasharray: 56, 330;
		stroke-dashoffset: 0;
	}
}

@keyframes draw-second-line {
	0% {
		stroke-dasharray: 0, 55;
		stroke-dashoffset: 1;
	}

	50% {
		stroke-dasharray: 0, 55;
		stroke-dashoffset: 1;
	}

	100% {
		stroke-dasharray: 55, 0;
		stroke-dashoffset: 70;
	}
}

@keyframes checkbox-alert-bounce {
	0% {
		transform: scale(0);
		opacity: 0;
	}

	50% {
		transform: scale(0);
		opacity: 1;
	}

	100% {
		transform: scale(1);
	}
}

@keyframes draw-check {
	0% {
		stroke-dasharray: 49, 80;
		stroke-dashoffset: 48;
		opacity: 0;
	}

	50% {
		stroke-dasharray: 49, 80;
		stroke-dashoffset: 48;
		opacity: 1;
	}

	100% {
		stroke-dasharray: 130, 80;
		stroke-dashoffset: 48;
	}
}