body {
    margin: 0
}
.nd-anchor {
    border-radius: 3px;
    box-shadow: 0 0 4px 1px rgb(0 0 0 / 8%);
    -webkit-box-shadow: 0 0 4px 1px rgb(0 0 0 / 8%);
    -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
    max-width: 100%;
    max-height: 100%;
    min-width: 223px;
    min-height: 62px;
    transition: background-color .7s ease;
}

.nd-anchor-compact {
    width: 223px;
    height: 62px;
}
.nd-anchor-normal {
    width: 298px;
    height: 73px;
}
.nd-anchor-large {
    width: 373px;
    height: 94px;
}

.nd-anchor-light {
    border: 1px solid #d3d3d3;
    background: #f9f9f9;
    background: #eee;
    background-color: aliceblue;
    color: #000;
}

.nd-anchor-content {
    height: 100%;
    width: 200px;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
}

.nd-anchor-content {
    display: inline-block;
    position: relative;
}

.nd-anchor-content:hover .recaptcha-checkbox-border {
    border-color: #528fde;
}

.go-inline-block {
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
}

.nd-inline-block {
    display: inline-block;
    height: 100%;
}

.nd-anchor-flex {
    display: flex;
}

.nd-anchor-flex .nd-anchor-content {
    display: flex;
    justify-content: space-around;
}

.nd-anchor-center-container {
    display: table;
    height: 100%;
}

.nd-anchor-center-item {
    display: table-cell;
    vertical-align: middle;
}

.nd-anchor-checkbox {
    margin: 0 12px 2px 12px;
}

.recaptcha-checkbox {
    border: none;
    font-size: 1px;
    height: 24px;
    margin: 4px;
    width: 24px;
    overflow: visible;
    outline: 0;
    vertical-align: text-bottom;
}

.recaptcha-checkbox-focused .recaptcha-checkbox-border,
.recaptcha-checkbox-focused .recaptcha-checkbox-spinner-gif {
    border: 2px solid #4d90fe
}

.recaptcha-checkbox-active .recaptcha-checkbox-border,
.recaptcha-checkbox-active .recaptcha-checkbox-spinner-gif {
    background-color: #ebebeb
}

.recaptcha-checkbox-disabled .recaptcha-checkbox-border,
.recaptcha-checkbox-disabled .recaptcha-checkbox-spinner-gif {
    background-color: #f1f1f1
}

.recaptcha-checkbox-checked .recaptcha-checkbox-border,
.recaptcha-checkbox-checked .recaptcha-checkbox-spinner-gif {
    visibility: hidden
}

.recaptcha-checkbox-expired .recaptcha-checkbox-border,
.recaptcha-checkbox-expired .recaptcha-checkbox-spinner-gif {
    border: 2px solid #ff0000
}

.recaptcha-checkbox-clearOutline.recaptcha-checkbox-focused .recaptcha-checkbox-border,
.recaptcha-checkbox-clearOutline.recaptcha-checkbox-focused .recaptcha-checkbox-spinner-gif {
    border: 2px solid #c1c1c1
}

.rc-anchor {
    border-radius: 3px;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.08)
}


.recaptcha-checkbox-border {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #fff;
    border: 2px solid #c1c1c1;
    font-size: 1px;
    height: 24px;
    position: absolute;
    width: 24px;
    z-index: 1;
}

.recaptcha-checkbox-spinner {
    background-color: #f9f9f9;
    border: 6px solid #4d90fe;
    border-radius: 36px;
    border-bottom-color: transparent;
    border-left-color: transparent;
    height: 36px;
    left: -4px;
    outline: 0;
    position: absolute;
    top: -4px;
    width: 36px;
    box-sizing: border-box;
    display: none;
    opacity: 0;
    animation: spinner-spin linear 2.5s infinite;
    animation-play-state: paused;
    transition-duration: 1s;
}

@keyframes overlay-spin {
    0% {
        opacity: 1;
        transform: rotateZ(45deg)
    }

    100% {
        opacity: 1;
        transform: rotateZ(225deg)
    }
}

.recaptcha-checkbox-spinner-overlay {
    content: '';
    position: absolute;
    top: -7px;
    left: -7px;
    width: 38px;
    height: 19px;
    background-color: #f9f9f9;
    animation: overlay-spin linear 1s;
    animation-play-state: paused;
    transform-origin: bottom center;
    border-radius: 38px 38px 0 0;
    transform: rotateZ(45deg);
    opacity: 0;
}

.recaptcha-checkbox-hover .recaptcha-checkbox-border,
.recaptcha-checkbox-hover .recaptcha-checkbox-spinner-gif {
    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .1);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, .1);
    border: 2px solid #b2b2b2
}

.nd-anchor-checkbox-label {
    width: 150px;
    font-family: Roboto, helvetica, arial, sans-serif;
    font-size: 13.8px;
    font-weight: 400;
    line-height: 17px;
    cursor: pointer;
}

.nd-anchor-light .nd-anchor-checkbox-label {
    color: #36393F;
}

.nd-anchor-footer {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    width: 58px;
    cursor: default;
}

.nd-anchor-flex .nd-anchor-footer {
    display: flex;
    justify-content: center;
    text-align: center;
}

.nd-anchor-logo-portrait {
    margin: 10px auto 0;
    width: 60px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.nd-anchor-logo-img {
    background: url("/icons/favicon-32x32.png");
    background-repeat: no-repeat;
    opacity: 0.75;
}

.nd-anchor-logo-img-portrait {
    background-size: 32px;
    height: 32px;
    margin: 0 13px 0 13px;
    width: 32px;
}

.nd-anchor-light .nd-anchor-logo-text,
.nd-anchor-light div a:link,
.nd-anchor-light div a:visited {
    color: #777;
}

.nd-anchor-logo-text {
    cursor: default;
    font-family: Roboto, helvetica, arial, sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
    margin-top: 5px;
    text-align: center;
}

.recaptcha-checkbox-checkmark {
    background-position: 0 -600px
}

.blue-stroke {
    stroke: #428fde;
}

.recaptcha-checkbox-checkmark {
    transform: scale(0.6);
    stroke-width: 8;
    stroke-linecap: round;
    position: absolute;
    top: -7px;
    left: -7px;
    width: 52px;
    height: 40px;
    display: none;
    
}

.recaptcha-checkbox-checkmark.animate {
    display: block;
}

.recaptcha-checkbox-checkmark.animate path {
    animation: .7s draw-check ease-out;
}

.checkbox-alert {
    stroke-width: 6;
    stroke-linecap: round;
    position: absolute;
    top: 40px;
    left: 68px;
    width: 15px;
    height: 70px;
    animation: 0.7s checkbox-alert-bounce cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.red-stroke {
    stroke: #d9534f;
}

.checkbox-alert .dot {
    stroke: none;
    fill: #FFC107;
}

.yellow-stroke {
    stroke: #FFC107;
}

.checkbox-error {
    transform: scale(0.7);
    stroke-width:6.25;
    stroke-linecap: round;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 40px;
    height: 40px;
    display: none;
}

.checkbox-error.animate {
    display: block;
}

.checkbox-error .first-line {
    animation: 0.7s draw-first-line ease-out;
}

.checkbox-error .second-line {
    animation: 0.7s draw-second-line ease-out;
}

.nd-anchor-explorer-text {
    font-size: 12px;
    line-height: 14px;
}

.block-explorer-link {
    text-decoration: none;
}

.block-explorer-link:hover .nd-anchor-explorer-text {
    color: #337ab7;
}

.nd-anchor-checkbox-label .error {
    display: block;
    font-size: 10px;
    line-height: 12px;
    margin-top: 6px;
    color: #777;
}

/* Dark mode */

.nd-anchor-dark {
    border: 1px solid #444;
    background-color: #34323D;
    box-shadow: 0 2px 15px rgb(0 0 0 / 15%);
}

.nd-anchor-dark .nd-anchor-checkbox-label {
    color: #eee;
}

.nd-anchor-dark .nd-anchor-logo-text, .nd-anchor-dark div a:link, .nd-anchor-dark div a:visited {
    color: #aaa;
}


@keyframes spinner-spin {
    0% {
        transform: rotateZ(0deg)
    }

    10% {
        transform: rotateZ(135deg)
    }

    25% {
        transform: rotateZ(245deg)
    }

    60% {
        transform: rotateZ(700deg)
    }

    75% {
        transform: rotateZ(810deg)
    }

    100% {
        transform: rotateZ(1080deg)
    }
}

@keyframes draw-first-line {
    0% {
        stroke-dasharray: 0,56;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 0,56;
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dasharray: 56,330;
        stroke-dashoffset: 0;
    }
}

@keyframes draw-second-line {
    0% {
        stroke-dasharray: 0,55;
        stroke-dashoffset: 1;
    }

    50% {
        stroke-dasharray: 0,55;
        stroke-dashoffset: 1;
    }

    100% {
        stroke-dasharray: 55,0;
        stroke-dashoffset: 70;
    }
}

@keyframes checkbox-alert-bounce {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}

@keyframes draw-check {
    0% {
        stroke-dasharray: 49, 80;
        stroke-dashoffset: 48;
        opacity: 0;
    }

    50% {
        stroke-dasharray: 49, 80;
        stroke-dashoffset: 48;
        opacity: 1;
    }

    100% {
        stroke-dasharray: 130, 80;
        stroke-dashoffset: 48;
    }
}