<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>NanoDrop CheckBox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/css/checkbox.css" rel="stylesheet" type="text/css">

    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">
    <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <%- include('./scripts/authorization.ejs', {config}) %>

        <style>
            html {
                font-family: sans-serif;
                -webkit-text-size-adjust: 100%;
                -ms-text-size-adjust: 100%;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                overflow: hidden;
            }

            body {
                margin: 0;
            }

            :after,
            :before {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

            * {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
        </style>
</head>

<body cz-shortcut-listen="true" style="zoom: 1; opacity: 0;">

    <div id="nd-anchor-container" class="nd-anchor nd-anchor-normal nd-anchor-flex nd-anchor-<%- config.theme %>">
        <div class="nd-anchor-content">
            <div class="nd-inline-block">
                <div class="nd-anchor-center-container">
                    <div class="nd-anchor-center-item nd-anchor-checkbox-holder">
                        <span class="recaptcha-checkbox go-inline-block recaptcha-checkbox-unchecked nd-anchor-checkbox"
                            role="checkbox" aria-checked="false" id="recaptcha-anchor" tabindex="0" dir="ltr"
                            aria-labelledby="recaptcha-anchor-label">
                            <div class="recaptcha-checkbox-border" role="presentation">
                            </div>
                            <div class="recaptcha-checkbox-borderAnimation" role="presentation"></div>
                            <div class="recaptcha-checkbox-spinner" role="presentation">
                                <div class="recaptcha-checkbox-spinner-overlay" style="animation-play-state: running;">
                                </div>
                            </div>
                            <svg class="recaptcha-checkbox-checkmark blue-stroke" role="presentation">
                                <g transform="matrix(0.79961,8.65821e-32,8.39584e-32,0.79961,-489.57,-205.679)">
                                    <path class="checkmark__check" fill="none"
                                        d="M616.306,283.025L634.087,300.805L673.361,261.53" />
                                </g>
                            </svg>
                            <svg class="checkbox-error red-stroke">
                                <g transform="matrix(0.79961,8.65821e-32,8.39584e-32,0.79961,-502.652,-204.518)">
                                    <path class="first-line" d="M634.087,300.805L673.361,261.53" fill="none" />
                                </g>
                                <g transform="matrix(-1.28587e-16,-0.79961,0.79961,-1.28587e-16,-204.752,543.031)">
                                    <path class="second-line" d="M634.087,300.805L673.361,261.53" />
                                </g>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
            <div class="nd-inline-block">
                <div class="nd-anchor-center-container"><label class="nd-anchor-center-item nd-anchor-checkbox-label"
                        aria-hidden="true" role="presentation" id="recaptcha-anchor-label">
                        <span aria-live="polite" aria-labelledby="recaptcha-accessible-status"></span>
                        Drop Me <span id="drop-amount">some</span> Nano</label>
                </div>
            </div>
        </div>
        <div class="nd-anchor-footer">
            <div class="nd-anchor-logo-portrait" aria-hidden="true" role="presentation">
                <div class="nd-anchor-logo-img nd-anchor-logo-img-portrait"></div>
                <div class="nd-anchor-logo-text">NanoDrop.io</div>
                <div class="nd-anchor-logo-text-refresh">Refresh</div>
                <div class="nd-anchor-logo-text-refreshing">Refreshing...</div>
            </div>
        </div>
    </div>

    <%- include("./scripts/checkbox.ejs", {config}); %>

</body>

</html>