<!DOCTYPE html>
<html lang="en">

<%- include("../static/head.ejs") %>

    <body cz-shortcut-listen="true" style="zoom: 1;" class="">

        <%- include("../static/faucet.ejs") %>

    </body>

    <script src="/js/utils.js"></script>

    <script src="/js/main.js"></script>

    <script src="/js/scanner.js"></script>

</html>