<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>NanoDrop - oAuth</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <meta name="google-signin-client_id"
        content="<%- oauth.clientId %>">


    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">
    <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <style>
        html, body {
            margin: 0;
            background: transparent;
        }
        .modal {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.75) 100.2%);
        }
    </style>
</head>

<body cz-shortcut-listen="true" style="zoom: 1;" class="">

    <div class="modal fade" id="signModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Sign in to continue</h4>
                </div>
                <div class="modal-body">
                    <center>
                        <!--<img src="/assets/bot.svg" width="120px">-->
                        <img src="/assets/nanobot.png" width="120px">
                        <h3>Oops ...</h3>
                        <p>Our system thinks you may be a spammer or a bot.</p>
                        <p>So we need you to log in with your Google account to continue...</p>

                        <div class="g-signin2" id="g-signin2"></div>
                        <br>
                    </center>
                </div>
                <div class="modal-footer">
                </div>
            </div>

        </div>
    </div>

    <script>

        function signOut() {
            const auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
        }

        function onSuccess(googleUser) {
            const profile = googleUser.getBasicProfile()
            const email = profile.getEmail() // This is null if the 'email' scope is not present.
            window.top.postMessage({ from: "oauth", target: "checkbox", success: true, email: email, oauth_token: googleUser.getAuthResponse().id_token }, '*')
        }

        function onFailure(error) {
            console.log(error);
        }
        function renderAuthButton() {
            gapi.signin2.render('g-signin2', {
                'scope': 'profile email',
                'width': 240,
                'height': 50,
                'longtitle': true,
                'theme': 'dark',
                'onsuccess': onSuccess,
                'onfailure': onFailure
            });
        }
        function authInit() {
            renderAuthButton()
        }
    </script>

    <script src="https://apis.google.com/js/platform.js?onload=authInit" async defer></script>

    <script>
        window.onload = function () {
            $("#signModal").modal()
        }
    </script>

</body>

</html>